header {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #dcdcdc;
    color: #222;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    display: flex;
    justify-content: space-between;   
    align-items: center;              
    gap: 20px;
    padding: 20px 0;
    background: white;
    border-bottom: 3px solid #ddd;
}


#logo-img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0;
    margin-left: 20px;
    border-radius: 100%;
}


.nav-links {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}


nav li {
    list-style: none;
    display: block;
    margin-right: 20px;
    justify-items: right;
}


nav button {
    padding: 8px 22px;
    border-radius: 25px;
    border: 2px solid #000;
    background: white;
    cursor: pointer;
}


nav button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.hero {
    padding: 60px 0;
    background: url("/Resources/hero.png") center/cover no-repeat;
}


.hero-text {
    font-size: 48px;
    color: #000;
    font-weight: bold;
}

.project-grid {
  background-color: #dcdcdc;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 1.8rem;
  margin: 2rem 0 1.5rem;
  padding: 20px;
}

.project-card {
  background-color: #f2f2f2;
  border: 1px solid #414141;
  border-radius: 24px;
  padding: 1.6rem 1.5rem;
  transition: box-shadow 0.2s;
}

.project-img {
  width:35%;
  height: 45%;
}



.project-name {
  font-size: 1.4rem;
  font-weight: 650;
  color: black;
  margin-bottom: 0.4rem;
}

.project-desc {
  color: black;
  margin-bottom: 1.2rem;
  font-size: 0.98rem;
}

.project-metadata {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px dashed #d0d9e8;
  padding-top: 1rem;
  font-size: 0.95rem;
}

.project-link {
  color: #8c8c8c;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1.5px solid #b7c9e2;
}



.project-updated {
  color: #8c8c8c;
  font-size: 0.9rem;
}


.view-all-wrapper {
  text-align: center;
  margin: 2.8rem 0 1rem;
}

.view-all-link {
  display: inline-block;
  background: #dcdcdc;
  border: 1.5px solid #515151;
  color: black;
  font-weight: 600;
  padding: 0.7rem 2.8rem;
  border-radius: 40px;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.2s;
}





footer {
    background-color: #f2f2f2;
    margin-top: 10px;
    padding: 20px 0;
    justify-content: right;
    bottom: 0;
    width:100%;
    height: auto;
}


footer li {
    display: inline-flex;
    justify-content: center;
    margin: 0 15px;
    font-size: 14px;
    margin-bottom: 10px;
}


footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
   
}
